<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="og:title" content="Ivan Jeržabek - portfolio">
    <meta name="og:type" content="website">
    <meta name="og:url" content="http://www.jarza.herokuapp.com">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>About - jarza</title>
    <meta name="author" content="Ivan Jerzabek">
    <meta name="description" content="all about me">
    <meta name="keywords" content="ivan jerzabek, jarza, coding, java, programing">
    <link rel="shortcut icon" type="image/png" href="../imgs/favico.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="container minh-100 justify-content-between mb-5 mb-md-0">
      <nav class="navbar navbar-light">
        <a class="navbar-brand" href="/">jarza</a>
        <a class="link" href="/about">about</a>
      </nav>

      <div class="h-100 spacing">
        <h1 class="main-title display-3 pb-5">ABOUT</h1>
        <p>I'm Ivan Jeržabek</p>
        <p>I am in my <strong>senior</strong> year of high school. I attend the <strong>Technical Gymnasium</strong> at <a class="link link-underline" target="_blank" href="http://ss-tehnicka-zg.skole.hr/">TŠZ</a>.</p>
        <p>In my free time I love to code or relax to music.</p>
        <p>I am most comfortable with <strong>java</strong> so I use it in all of my personal projects, but I also have a good knowledge <strong>python</strong>.</p>
        <p>Some of my most notable projects are <a class="link link-underline font-italic" href="/peepocop">a moderation bot for Discord</a>, <a class="link link-underline font-italic" target="_blank" href="https://github.com/jerzabek/apicaller">a simple HTTP request environment</a> and <a class="link link-underline font-italic" target="_blank" href="https://github.com/jerzabek/satnica">an employee work-hour tracking website</a>. </p>
      </div>
    </div>
    <footer class="page-footer font-small text-light bg-dark pt-4">
      <div class="container text-md-left">
        <div class="row">
          <div class="col-md-6 mt-md-0 mt-3 text-center text-md-left">
            <!-- <h5 class="text-uppercase font-weight-bold">Contact:</h5> -->
            <p class=" p-md-2">jerzabek.ivan@gmail.com</p>
          </div>
          <hr class="clearfix w-100 d-md-none pb-3">
          <div class="col-md-6 mb-md-0 mb-3  text-center text-md-right">
            <div class="footer-copyright p-md-2 pb-3 ">Copyright © 2018 Jarza</div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
